# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.swp
*.swo

#Directories
fnx.xcodeproj/project.xcworkspace/xcuserdata
fnx.xcodeproj/xcuserdata
